<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Friends Quiz</title>
    <link rel="stylesheet" href="/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500" rel="stylesheet"/>
</head>
<body>

<div id="pageContainer"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.min.js"></script>
<script src="https://fb.me/react-dom-15.0.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/babel" src="bundle.js">
    var EmployeeTable = React.createClass({
        render: function() {
            return (<div>employee table</div>);
        }
    });

    ReactDOM.render(
            <EmployeeTable />, document.getElementById('root')
    );
</script>

</body>
</html>